<div id="confirmModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <form id="confirmForm">
        <div class="modal-header">
          <h4 class="modal-title">Confirm Delete</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          Are you sure you wish to delete this entry?
        </div>
        <div class="modal-footer">
          <input type="hidden" id="confirm-id" value="">
          <input type="hidden" id="confirm-csrf" value="{{csrfToken}}">
          <button type="button" class="btn btn-primary" id="modalSubmit">Confirm</button>
          <div id="confirmStatus"></div>
        </div>
      </form>
    </div>
  </div>
</div>
