<div id="confirmModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <form 
        id="confirmForm" 
        hx-put="/admin/news/delete/{{ confirm-id }}" 
        hx-headers='{"X-CSRF-TOKEN": "{{csrfToken}}"}'
        hx-target="#confirmStatus" 
        hx-on="submit: this.submit();"
      >
        <div class="modal-header">
          <h4 class="modal-title">Confirm Delete</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          Are you sure you wish to delete this entry?
        </div>
        <div class="modal-footer" id="modalFooter">
          <input type="hidden" value="" name="confirm-id" id="confirm-id">
          <input type="hidden" name="_csrf" id="confirm-csrf" value="{{csrfToken}}">
          <input type="submit" class="btn btn-primary pull-right" id="modalSubmit" value="Confirm">
          <div id="confirmStatus"></div>
        </div>
      </form>
    </div>
  </div>
</div>