<div class="container">
    <hr>
    <footer class="site-footer clearfix">
        <section class="builtwith">
            Built with <i class="fa fa-heart"></i> | <a href="https://github.com/xnifty/endgamewtf">Source</a><br>
            copyright &copy; 2017 - {{ currentyear }} endgame.wtf
        </section>
        <section class="social">
            <a href="https://github.com/xNifty"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
	    <a href="https://twitter.com/ryanmalacina"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
        </section>
    </footer>
</div>
