<div class="container">
    <hr>
    <div class="footer">
        <!--<div class="pull-left">Built with <i class="fa fa-heart"></i> using Node, Express and Bootstrap</div>
        <div class="pull-right">copyright &copy; 2017- {{ currentyear }} endgame.wtf</div>-->
        <div class="row">
            <div class="text-center">Built with <i class="fa fa-heart"></i> using Node, Express and Bootstrap</div>
            <div class="text-center">copyright &copy; 2017- {{ currentyear }} endgame.wtf</div>
        </div>
    </div>
</div>
</body>
</html>
