<div class="container">
    <hr>
    <footer class="site-footer clearfix">
        <section class="builtwith">Built with <i class="fa fa-heart"></i> using Node, Express and Bootstrap | <a href="https://github.com/xnifty/endgamewtf">Source</a></section>
        <section class="copyright">copyright &copy; 2017 - {{ currentyear }} endgame.wtf</section>
    </footer>
</div>
