<div class="container" id="footer-container">
    <hr class="footer">
    <a id="scroll" title="Back to top" href="#">&#10148;</a>
    <footer class="site-footer clearfix">
        <section class="builtwith">
            Built with <i class="fa fa-heart"></i> | <a href="https://github.com/xnifty/ryanmalacina.com" target="_blank">Source</a> |
	    <a href="https://github.com/xNifty/ryanmalacina.com/issues" target="_blank">Report A Bug</a><br>
            copyright &copy; 2017 - {{ currentyear }} ryanmalacina.com<br>
            This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.
        </section>
        <section class="social">
            <a href="https://github.com/xNifty" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
	    <a href="https://twitter.com/ryanmalacina" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
        </section>
    </footer>
</div>
