<!-- Modal HTML -->
<div id="loginModal" class="modal fade">
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <form action="#" method="post" accept-charset="UTF-8" id="loginform">
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Username</label>
            <input id="sp_uname" class="form-control login" type="text" name="username" placeholder="Username" required="required" />
          </div>
          <div class="form-group">
            <div class="clearfix">
              <label>Password</label>
            </div>

            <input id="sp_pass" class="form-control login" type="password" name="password" placeholder="Password" required="required" autocomplete="on"/>
          </div>
          <span id="sp_pass_message">Caps Lock is On!</span>
        </div>
        <div class="modal-footer" id="loginFooter">
          <span id="forgot_password" class="pull-left"><a href="/reset">Forgot Password</a></span>
          <input type="submit" class="btn btn-primary pull-right" id="loginSubmit" name="submit" value="Login">
          <div id="loginStatus"></div>
        </div>
      </form>
    </div>
  </div>
</div>