<div class="container">
    <div class="text-center">
        <h1>{{ project_title }}</h1>
        <h4><a href="{{ project_source }}" target="_blank">Source</a></h4>
    </div>
    <p>{{{ project_description }}}</p>
</div>