{{#if success}}
    {{#iff success.length '>' 0}}
        <div class="text-center">
            <div class="alert alert-success center-block">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ success }}
            </div>
        </div>
    {{/iff}}
{{/if}}
{{#if error}}
    {{#iff error.length '>' 0}}
        <div class="text-center">
            <div class="alert alert-danger center-block">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{#if status_code}}
                    {{ status_code }}
                {{else}}
                    {{ error }}
                {{/if}}
            </div>
        </div>
    {{/iff}}
{{/if}}