<div class="container" id="contact">
    <section class="mb-4">
        <h1 class="h1-responsive font-weight-bold my-4">Contact Me</h1>
        <div id="contactformdiv">
            Shoot me a message and I'll get back to you as soon as I can.
            If you are reporting an issue that is not a security vulnerability, please do so <a href="https://github.com/xNifty/ryanmalacina.com/issues">here</a>.<br>
            <div class="text-center" id="emailalert" style="position: static; opacity: 1;">
                <div class="alert alert-danger center-block">
                    <span id="emailerror">{{contacterrors}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-md-0 mb-5">
                    <form id="contact-form" hx-post="/send" hx-target="#contact" hx-swap="outerHTML">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="name" class="">Your Name</label>
                                    <input type="text" id="name" name="name" class="form-control" placeholder="John Doe" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <label for="email" class="">Your Email</label>
                                    <input type="text" id="email" name="email" class="form-control" placeholder="you@your.email" autocomplete="on">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <label for="subject" class="">Subject</label>
                                    <input type="text" id="subject" name="subject" class="form-control" placeholder="Hello!" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form">
                                    <label for="message">Message</label>
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="This is your email content."></textarea>
                                    <div class="recaptcha-font">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</div>
                                </div>

                            </div>
                        </div>
                        <div class="text-center">
                            <input type="text" id="g-recaptcha-response" name="g-recaptcha-response" value="" hidden>
                            <script nonce="{{nonce}}">grecaptcha.ready(function(){grecaptcha.execute('6LeCKqYUAAAAAAh4n_WgK7e-fKbqOgrukjjBmqBG', {action: 'homepage'}).then(cb);});</script>
                            <div class="text-md-left">
                                <input class="btn btn-primary" type="submit" value="Send Email">
                            </div>
                        </div>
                    </form>
                    <div id="status"></div>
                </div>
            </div>
        </div>
    </section>
</div>