{
  privateKey=privateKeyHere
  mailgunAPI=mailgunKey
  mailgunDomain=mailgunDomain
  mailgunToEmail=mailgunToEmail
  siteKey=recaptchaSiteKey
  secretKey=recaptchaSecretKey
  blogAPI=ghostAPIKey
  GitHubAuth=GitHubAuth Token
  mongoURL=mongourlhere
}