var express = require('express');
var exphbs  = require('express-handlebars');
var favicon = require('serve-favicon');
var path = require('path');

var bodyParser = require('body-parser');
var nodemailer = require('nodemailer');

var app = express();
var env = app.settings.env;

// Set default layout, can be overridden per-route as needed
var hbs = exphbs.create({defaultLayout: 'main'});

app.engine('handlebars', hbs.engine);
app.set('view engine', 'handlebars');

//app.use(express.static(__dirname + '/views'));
app.use(express.static('public'))
app.use(bodyParser.urlencoded({extended: true}));

// Set favicon
app.use(favicon(path.join(__dirname, 'public/images', 'favicon.ico')));

// needs to be access on all pages thanks to the footer
var currentyear = new Date().getFullYear();

// Globally accessed variables, can be overridden on a per-route basis as needed
app.locals = {
    currentyear: currentyear,
    title: "Ryan Malacina | ryanmalacina.com",
    pageNotFound: "Seems this page doesn't exist...sorry about that!",
    serverError: "Uh oh, something went wrong when loading this page."
}

app.get("/", function(req, res) {
    res.render("index", {
        title: "Ryan Malacina | Home",
    });
});

app.get("/about", function(req, res) {
    res.render("about", {
        title: "Ryan Malacina | About",
    });
});

app.get("/contact", function(req, res) {
    res.render("contact", {
        title: "Ryan Malacina | Contact",
    });
});

app.post("/contact", function(req, res) {
    var name = req.body["g52-name"];
    var mail = req.body["g52-email"];
    var subject = req.body["g52-website"];
    var description = req.body["g52-comment"];

    if(!subject || !mail || !name) {
        res.send("Please provide a subject and message body.");
        return false;
    }
    console.log("First check complete.");
    var smtpTransport = nodemailer.createTransport({
        service: 'gmail',
        auth: {
            user: '',
            pass: ''
        }
    });
    console.log("Second check complete.");
    var mailOptions = {
        from: mail,
        to: "ryan@ryanmalacina.com",
        subject: subject,
        html: "<p>From: " + name + " (" + mail + ")</p><p>" + description + "</p>"
    }
    console.log("Third check complete.");
    smtpTransport.sendMail(mailOptions, function(error, response) {
        if (error) {
            console.log("Email sending error: " + error);
        } else {
            console.log("Success.");
            res.redirect(301, "/");
        }
    });
});

app.get("/blog", function(req, res) {
   res.redirect(301, "https://blog.ryanmalacina.com");
});

app.get("/docs", function(req, res) {
   res.redirect(301, "https://docs.ryanmalacina.com");
});

// catch 404 and forward to error handler
// note this is after all good routes and is not an error handler
// to get a 404, it has to fall through to this route - no error involved
app.use(function(req, res, next) {
    var err = new Error('Not Found');
    err.status = 404;
    next(err);
});

/*
    Development Error Handling

    Catch both 404 and 500 in a manner I prefer, render appropriate view with error message
*/
if (app.get('env') === 'development') {
    app.use(function(err, req, res, next) {
        var status = err.status ? err.status : 500;
        if (status === 404) {
            res.render('error', {
                message: err.message,
                error: err
            });
        } else if (status === 500) {
            res.render('error', {
                message: err.message,
                error: err
            });
        }
    });
}

/*
    Production Error Handling

    Catch both 404 and 500 in a manner I prefer, render appropriate view with proper message
*/
if (app.get('env') === 'production') {
    app.use(function(err, req, res, next) {
        var status = err.status ? err.status : 500;
        if (status === 404) {
            res.render('error', {
                error: app.locals.pageNotFound
            });
        } else if (status === 500) {
            res.render('error', {
                error: app.locals.serverError
            });
        }
    });
}

// Listen on 8080, output which mode the app is running in
app.listen(8080);
console.log("Server is now running in " + env + " mode.");
