{{!-- Main Layout Template --}}
<!doctype HTML>
<html>
{{> header }}
<body>
    {{> nav}}
    {{#if success}}
        {{#iff success.length '>' 0}}
            <div class="text-center">
                <div class="alert alert-success alert-dismissible center-block">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ success }}
                </div>
            </div>
        {{/iff}}
    {{/if}}
    {{#if error}}
        {{#iff error.length '>' 0}}
            <div class="text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <div class="alert alert-danger alert-dismissible">\
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ error }}
                </div>
            </div>
        {{/iff}}
    {{/if}}
    {{{ body }}}

    {{!-- In the footer we display the currentyear variable that we set in the app.js file --}}
    {{> footer currentyear=currentyear }}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <script rel="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="/js/tabopen.js" nonce="{{nonce}}"></script>-->
</body>
</html>
