{{!-- Main Layout Template --}}
<!doctype HTML>
<html>
{{> header }}
<body>
    {{> nav}}

    {{{ body }}}

    {{> footer currentyear=currentyear }}
    <script type="text/javascript" src="/js/tabopen.js"></script>
</body>
</html>
