<div class="container">
    <div class="text-center"><h1>About Me</h1></div>
    <p>Hey there, I'm Ryan, and welcome to my site!</p>
    <p>This site is dedicated to maintaining an up to date listing of all projects that I am currently working
    on, whether as a personal project or a project that I am actively contributing to.</p>
    <ul>
        <li><a href="https://github.com/xNifty">GitHub</a></li>
        <li><a href="https://ibenifty.me">My Demo Site</a></li>
    </ul>
    <p>You can contact me through <a href="/contact">this</a> form.</p>
</div>
