<div class="container">
    <div class="text-center"><h1>all about endgame.wtf</h1></div>
    <p>This site is dedicated to maintaining an up to date listing of all projects that I am currently working
    on, whether as a project on my own or projects that I am actively contributing to.</p>
    <p>You can contact me through <a href="/contact">this</a> form.</p>
</div>