<div class="container">
    Welcome to the Admin backend; access via the links below.  Cleanup to come eventually.<br />
    <a href="./projects">Projects</a><br />
    <a href="./news">News</a>
</div>