<div class="container">
    This is the admin backend. It's simple, and will be updated in the future to include all the features that should
    be here (e.g. project adding, editing, publishing).

    Stay tuned.
</div>