<div class="container">
    <div class="text-center">
        <h1>Administrative Backend</h1>
    </div>
    <a href="admin/projects" class="admin-index-text">Projects</a><br />
    <a href="admin/news" class="admin-index-text">News</a><br />
</div>