<div class="container">
    Welcome to the Admin backend; access via the links below.  Cleanup to come eventually.<br />
    <a href="admin/projects">Projects</a><br />
    <a href="admin/news">News</a>
</div>