<div class="container">
    <div class="text-center"><h1>welcome to endgame.wtf</h1></div>
    <p>This site is a maintained listing of all projects that I am currently working on.  Below, you will find a
        grid listing the different projects; please click on the project you'd like to know more about.</p>
    <p>This site is still under heavy development, so please stand by while things are redesigned, finished,
        updated, etc. Feel free to click the blog link above to follow along.</p>
    <div class="row text-center">
        <div class="col-lg-3">
            <div class="thumbnail">
                <a href="https://github.com/xNifty/niftybot-discord">
                    <img class="img-responsive greyimg" src="/images/niftybot.png"
                         alt="Niftybot Discord Logo">
                </a>
                <div class="caption center-block">Niftybot-Discord</div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <a href="https://github.com/xNifty/lotto-manager">
                    <img class="img-responsive greyimg" src="/images/lottomanager.png"
                         alt="LottoManager Logo">
                </a>
                <div class="caption center-block">LottoManager</div>
            </div>
        </div>
    </div>
</div>