<div class="container" id="welcome" xmlns="http://www.w3.org/1999/html">
    <div class="text-center"><h1>Ryan Malacina</h1></div>
    <h2>Hey there, I'm Ryan, and welcome to my site!</h2>
    <p>I am a software developer who works with SQL and Visual Basic via ASP.NET for my job. I'm a big fan of MongoDB, Express and Node, which is
        what this site is built on. I am currently in the process of learning Go and making use of HTMX. Please look around the site, and if you need to contact me 
        you can do so via the contact form on the bottom of this site. Thanks for stopping by!</p>
    </p>
    <hr>
</div>
{{> projects/projects-homepage }}
{{#if showNews}}
    {{> news/news-homepage }}
{{/if}}
{{#if showBlog}}
    {{> blog}}
{{/if}}
{{> contact}}
