<div class="container" id="welcome" xmlns="http://www.w3.org/1999/html">
    <div class="text-center"><h1>Ryan Malacina</h1></div>
    <p>Hey there, and welcome to my site!</p>
    <p>I am currently working on updating the site and making overhauling changes to make the site more unique
    to me and only me.  You can navigate around what portions of the site are complete by clicking the relevant link
    in the navigation bar.</p>
    <hr>
</div>
{{> projects-homepage}}
{{> news}}
{{#if showBlog}}
    {{> blog}}
{{/if}}
{{> contact}}
