<div class="container">
    You are successfully authenticated!<br />
    This page is not yet complete, we need to add the forms for adding a new project and then save said details to the
    database.
</div>