<div class="container" id="site-news">
    <h1>Site News and Updates</h1>
    <div class="input-group custom-search">
        <input type="search" class="form-control" id="news-search-box">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" id="news-search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search!
            </button>
        </span>
    </div>
    <select id="sort" name="sort" class="btn btn-trigger">
        <option name="dateAsc" value="dateAsc">Date (Asc)</option>
        <option name="dateDesc" selected value="dateDesc">Date (Desc)</option>
        <option name="titleAsc" value="titleAsc">Title (Asc)</option>
        <option name="titleDesc" value="titleDesc">Title (Desc)</option>
    </select>
    <div id="news-results">{{> news/news-display }}</div>
</div>