<div class="container" id="site-news">
    <h1>Site News and Updates</h1>
    <div class="input-group custom-search">
        <input type="search" class="form-control" id="news-search-box">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" id="news-search">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Search!
            </button>
        </span>
    </div>
    <div id="news-results">{{> news/news-display }}</div>
</div>