<div class="container" id="profile">
    <div class="container">
        <h1>Welcome to Your Profile</h1>
    <p>On this page you can change your email, name, and password. Your username is locked to what it was created as.</p>
    </div>
    <form action="/profile" method="post" enctype="multipart/form-data">
      <div class="form-group">
            Your Name<br> <input type="text" class="custom-text" id="user_name" name="user_name"
                                    {{#if user_name}}value="{{user_name}}"{{/if}}><br><br>
            Your Email<br> <input type="text" class="custom-text" name="user_email"
                                      {{#if user_email}}value="{{user_email}}"{{/if}}><br><br>
            New Password<br> <input class="form-control" placeholder="New Password" name="password" type="password" value="" id="pass_change_one"><br>
            Confirm Password<br> <input class="form-control" placeholder="Confirm Password" name="password" type="password" value="" id="pass_change_two"><br>
            Current Password<br> <input class="form-control" type="password" placeholder="Current Password" value="" id="pass_current"><br>
        </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span> Update Profile</button>
    </form>
</div>