/*body {*/
/*background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467);*/
/*background-size: cover;*/
/*background-position: center;*/
/*}*/

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    /*color: white;*/
}

#content {
    text-align: center;
    padding-top: 25%;

    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
    font-weight: 700;
    font-size: 2em;
}

.footer {
    font-weight: 400;
}

/*hr {*/
    /*width: 400px;*/
    /*border-top: 1px solid #F8F8F8;*/
    /*border-bottom: 1px solid rgba(0,0,0,0.2);*/
    /*max-width: 90%;*/
/*}*/

table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

.site-footer {
    position: relative;
    margin: 1rem 0 0 0;
    padding: 1rem 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 1.75em;
    color: #BBC7CC;
}

.social {
    display: block;
    width: 45%;
    float: right;
    text-align: right;
}

.builtwith {
    display: block;
    width: 45%;
    float: left;
}

.container  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}

.greyimg {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .3s ease-in-out;
}

.greyimg:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

.custom-text {
    width: 100%;
}

.error {
    background:#ffecec no-repeat 10px 75%;
    border:1px solid #f5aca6;
    margin-bottom: 10px;
}

.success {
    background:#e9ffd9 no-repeat 10px 75%;
    border:1px solid #a6ca8a;
    margin-bottom: 10px;
    /*max-width: 100%;*/
    /*min-width: 20%;*/
    /*margin: 0 auto;*/
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        /*padding-left: 50%;*/
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}

#edit {
    float: right;
}
