{
  "cookieName": "rm2245",
  "useProxy": true,
  "resave": true,
  "saveUninitialized": false,
  "httpOnly": true,
  "secureCookie": false,
  "sameSite": "lax",
  "maxAge": 86400000,
  "blogURL": "blogurl",
  "docsURL": "docsurl",
  "showBlog": false,
  "blogVersion": "GhostVersionMajor.GhostVersionMinor",
  "rootURL": "rootSiteURL",
  "recaptchaSiteKey": recaptchaSiteKey
}