{
  "cookieName": "rm2245",
  "privateKeyName": "privateKey",
  "useProxy": true,
  "resave": true,
  "saveUninitialized": false,
  "httpOnly": true,
  "secureCookie": false,
  "port": 8080,
  "mailgunAPI": "mailgunKey",
  "mailgunDomain": "mailgunDomain",
  "mailgunToEmail": "mailgunToEmail",
  "siteKey": "recaptchaSiteKey",
  "secretKey": "recaptchaSecretKey",
  "sameSite": "lax",
  "maxAge": 86400000,
  "blogURL": "blogurl",
  "docsURL": "docsurl",
  "showBlog": false,
  "blogAPI": "ghostAPIKey",
  "blogVersion": "GhostVersionMajor.GhostVersionMinor",
  "rootURL": "rootSiteURL",
  "mongoURL": "mongourlhere"
}