<div class="container" id="contact">
    <section class="mb-4">
        <h1 class="h1-responsive font-weight-bold my-4">Contact Me</h1>
        <div id="contactformdiv">
            <div class="text-center" id="emailalert" style="position: static; opacity: 1;">
                <div class="alert alert-success alert-dismissible center-block">
                    <span id="emailerror">{{contacterrors}}</span>
                </div>
            </div>
        </div>
    </section>
</div>