<div id="contactformdiv">
    <div class="text-center" id="emailalert" style="position: static; opacity: 1;">
        <div class="alert alert-success alert-dismissible center-block">
            <span id="emailerror">{{contacterrors}}</span>
        </div>
    </div>
</div>